cohere
groq
rich
python-dotenv
selenium
webdriver-manager
mtranslate
pygame
edge-tts
googlesearch-python
pywhatkit
psutil
customtkinter
pillow
requests
beautifulsoup4
send2trash
pywin32
opencv-python
wmi
pyautogui
pyttsx3
requests
keyboard
send2trash
pywin32
opencv-python
keyboard